# Nov 22, 2019 Python String Basic 
* Name: Jikhan Jeong
* Ref: https://dojang.io/course/view.php?id=7 (ch24)

## .replace('target','new') : Change String

In [3]:
'Hello, Jikhan'.replace('Jikhan','Jeong Jikhan')

'Hello, Jeong Jikhan'

In [4]:
J = 'Hello, Jikhan'
J

'Hello, Jikhan'

In [7]:
J = J.replace('Jikhan', 'Handsome Jikhan You are Okay')
J

'Hello, Handsome Jikhan You are Okay'

## str.maketrans ('charater wanna change', 'new charaters')
* (1st) table = str.maketrans('present charaters','type of new characters')
* (2st) target word.translate(table)

In [8]:
table = str.maketrans('aeiou', '12345')

In [9]:
'apple'.translate(table)

'1ppl2'

## .split() : seperate strings
* splits based on space between characters

In [11]:
'Jikhan Jeong will be a TA for Econometrics in 2020 Spring Semester'.split()

['Jikhan',
 'Jeong',
 'will',
 'be',
 'a',
 'TA',
 'for',
 'Econometrics',
 'in',
 '2020',
 'Spring',
 'Semester']

* splits based on ', ''

In [13]:
a = 'Jikhan Jeong, will, be, a, TA, for, Econometrics, in, 2020 Spring Semester'.split(', ')
a

['Jikhan Jeong',
 'will',
 'be',
 'a',
 'TA',
 'for',
 'Econometrics',
 'in',
 '2020 Spring Semester']

## .join : add strings

In [14]:
' '.join(a)

'Jikhan Jeong will be a TA for Econometrics in 2020 Spring Semester'

In [16]:
' '.join(['Therefore','I should','study'])

'Therefore I should study'

In [17]:
' ,'.join(['Therefore','I should','study'])

'Therefore ,I should ,study'

In [18]:
' --'.join(['Therefore','I should','study'])

'Therefore --I should --study'

## .upper() and .lower()

In [20]:
'jikhan'.upper()

'JIKHAN'

In [21]:
'JIKHAN'.lower()

'jikhan'

## .lstrinp(), .rstrip(), .strip()

* lstrip() : remove left space

In [23]:
'   Jikhan Jeong    '.lstrip()

'Jikhan Jeong    '

* rstrip(): remove right space

In [24]:
'   Jikhan Jeong    '.rstrip()

'   Jikhan Jeong'

* strip(): remove all space

In [25]:
'   Jikhan Jeong    '.strip()

'Jikhan Jeong'

In [35]:
',  Jikhan Jeong.'.lstrip(',.') # no space between left and right

'  Jikhan Jeong.'

In [36]:
',  Jikhan Jeong.'.rstrip(',.')

',  Jikhan Jeong'

In [37]:
',  Jikhan Jeong.'.strip(',.')

'  Jikhan Jeong'

## .ljust(number), .rjust(number), .center(number), number = size of sentence

In [38]:
'Jikhan'.ljust(10)

'Jikhan    '

In [39]:
'Jikhan'.rjust(10)

'    Jikhan'

In [40]:
'Jikhan'.center(10)

'  Jikhan  '

In [41]:
'Jikhan'.center(10).upper()

'  JIKHAN  '

# .zfill(number) : number = size of sentence

In [42]:
'35'.zfill(10)

'0000000035'

* 336p

## Finding the location
* no such a word : turn out -1

In [4]:
'Jikhan is handsome'.find('is')

7

In [5]:
'Jikhan is handsome'.find('Roy')

-1

* find the word from right if there is the same word

In [10]:
'Jikhan is handsome guy'.rfind('is')

7

In [11]:
'Jikhan is handsome guy'.index('is')

7

In [13]:
'Jikhan is handsome guy is there Suzi'.rindex('is')

23

In [14]:
'Jikhan is handsome guy is there Suzi'.count('is')

2

# Format

## String format '%s'

In [16]:
'I am %s' % 'jikhan'

'I am jikhan'

In [17]:
name = 'jikhan'

In [18]:
'I am %s' % name

'I am jikhan'

## Decimal Integer '%d'

In [19]:
'My age is %d' %1818

'My age is 1818'

## fixed numer under 0.000 ''%f3' $

In [22]:
'My eyesight is %f' %2.3

'My eyesight is 2.300000'

In [24]:
'My eyesight is %f' %2.32343

'My eyesight is 2.323430'

In [25]:
'My eyesight is %.2f' %2.32343

'My eyesight is 2.32'

In [26]:
'My eyesight is %.4f' %2.32343

'My eyesight is 2.3234'

## Align

In [28]:
' I am learn %10s' %'python'

' I am learn     python'

In [29]:
'my age is %10d' %10

'my age is         10'

In [30]:
'my age is %10d' %100000

'my age is     100000'

In [31]:
'my eye sight is %10.2f' %10

'my eye sight is      10.00'

In [32]:
'my eye sight is %10.2f' %100000

'my eye sight is  100000.00'

In [33]:
'%-10s' %'python'

'python    '

# Several Input in a sentence

In [34]:
'Today is %d %s.' %(3, 'November')

'Today is 3 November.'

# FORMAT method

In [35]:
'hi, {}'.format('Jikhan')

'hi, Jikhan'

In [36]:
'My age is {}'.format('18')

'My age is 18'

In [37]:
'My age is {}'.format(18)

'My age is 18'

In [38]:
'1st {0} 2st {1} 3st{2}'.format('windder', 'sencond winner','losder')

'1st windder 2st sencond winner 3stlosder'

In [39]:
'{1} {1} {0} {0}'.format('windder', 'sencond winner','losder')

'sencond winner sencond winner windder windder'

# f

In [43]:
learn = 'python'
version ='3.7.4'

In [45]:
f'hi, {learn } {version }'

'hi, python 3.7.4'

# Format Align

In [47]:
'{0:<10}'.format('Jikhan')

'Jikhan    '

In [48]:
'{0:>10}'.format('Jikhan')

'    Jikhan'

# Mapping the number of word

In [49]:
'%03d' % 1 # 3 charaters no charter postion filled by zero

'001'

In [56]:
'{0:03d}'.format(35)

'035'

In [58]:
'%08.2f' % 3.2

'00003.20'

In [60]:
'{0:08.2f}'.format(100.23)

'00100.23'

# Combining

In [62]:
'{0:0<10}'.format(15)

'1500000000'

In [63]:
'{0:0>10}'.format(15)

'0000000015'

In [64]:
'{0:0>10.2f}'.format(15)

'0000015.00'

In [65]:
'{0: >10}'.format(15)

'        15'

In [66]:
'{0: < 10}'.format(15)

' 15       '

In [67]:
'{0:x>10}'.format(15)

'xxxxxxxx15'

# . in 000,0000

In [68]:
format(12345,',')

'12,345'