## Nov 15, 2019 Basic Time Date in Pandas
* Name: Jikhan Jeong
* Ref: https://towardsdatascience.com/basic-time-series-manipulation-with-pandas-4432afee64ea

In [15]:
import pandas as pd
from datetime import datetime
import numpy as np
import os

In [16]:
os.getcwd()

'C:\\Users\\jikhan.jeong\\2019 Stock NLP\\news_api\\nyt'

In [2]:
date_rng = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [3]:
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [4]:
type(date_rng[0])

pandas._libs.tslibs.timestamps.Timestamp

In [5]:
df = pd.DataFrame(date_rng, columns=['date'])
df.head(1)

        date
0 2018-01-01

In [6]:
df['data'] = np.random.randint(0,100,size=(len(date_rng)))

In [7]:
df.head(1)

        date  data
0 2018-01-01    44

In [9]:
df['datetime'] = pd.to_datetime(df['date'])
df.head(1)

        date  data   datetime
0 2018-01-01    44 2018-01-01

In [10]:
df = df.set_index('datetime')
df.head(1)

                 date  data
datetime
2018-01-01 2018-01-01    44

In [11]:
df.drop(['date'], axis=1, inplace=True)
df.head(1)

            data
datetime
2018-01-01    44

In [22]:
df.head(3)

                     data
datetime
2018-01-01 00:00:00    44
2018-01-01 01:00:00    85
2018-01-01 02:00:00    96

### Making sate_rng as a string

In [23]:
type(date_rng)

pandas.core.indexes.datetimes.DatetimeIndex

In [24]:
date_rng[1]

Timestamp('2018-01-01 01:00:00', freq='H')

In [25]:
date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [12]:
string_date_rng = [str(x) for x in date_rng]
string_date_rng

['2018-01-01 00:00:00',
 '2018-01-01 01:00:00',
 '2018-01-01 02:00:00',
 '2018-01-01 03:00:00',
 '2018-01-01 04:00:00',
 '2018-01-01 05:00:00',
 '2018-01-01 06:00:00',
 '2018-01-01 07:00:00',
 '2018-01-01 08:00:00',
 '2018-01-01 09:00:00',
 '2018-01-01 10:00:00',
 '2018-01-01 11:00:00',
 '2018-01-01 12:00:00',
 '2018-01-01 13:00:00',
 '2018-01-01 14:00:00',
 '2018-01-01 15:00:00',
 '2018-01-01 16:00:00',
 '2018-01-01 17:00:00',
 '2018-01-01 18:00:00',
 '2018-01-01 19:00:00',
 '2018-01-01 20:00:00',
 '2018-01-01 21:00:00',
 '2018-01-01 22:00:00',
 '2018-01-01 23:00:00',
 '2018-01-02 00:00:00',
 '2018-01-02 01:00:00',
 '2018-01-02 02:00:00',
 '2018-01-02 03:00:00',
 '2018-01-02 04:00:00',
 '2018-01-02 05:00:00',
 '2018-01-02 06:00:00',
 '2018-01-02 07:00:00',
 '2018-01-02 08:00:00',
 '2018-01-02 09:00:00',
 '2018-01-02 10:00:00',
 '2018-01-02 11:00:00',
 '2018-01-02 12:00:00',
 '2018-01-02 13:00:00',
 '2018-01-02 14:00:00',
 '2018-01-02 15:00:00',
 '2018-01-02 16:00:00',
 '2018-01-02 17:00:00',
 '2018-01-02 18:00:00',
 '2018-01-02 19:00:00',
 '2018-01-02 20:00:00',
 '2018-01-02 21:00:00',
 '2018-01-02 22:00:00',
 '2018-01-02 23:00:00',
 '2018-01-03 00:00:00',
 '2018-01-03 01:00:00',
 '2018-01-03 02:00:00',
 '2018-01-03 03:00:00',
 '2018-01-03 04:00:00',
 '2018-01-03 05:00:00',
 '2018-01-03 06:00:00',
 '2018-01-03 07:00:00',
 '2018-01-03 08:00:00',
 '2018-01-03 09:00:00',
 '2018-01-03 10:00:00',
 '2018-01-03 11:00:00',
 '2018-01-03 12:00:00',
 '2018-01-03 13:00:00',
 '2018-01-03 14:00:00',
 '2018-01-03 15:00:00',
 '2018-01-03 16:00:00',
 '2018-01-03 17:00:00',
 '2018-01-03 18:00:00',
 '2018-01-03 19:00:00',
 '2018-01-03 20:00:00',
 '2018-01-03 21:00:00',
 '2018-01-03 22:00:00',
 '2018-01-03 23:00:00',
 '2018-01-04 00:00:00',
 '2018-01-04 01:00:00',
 '2018-01-04 02:00:00',
 '2018-01-04 03:00:00',
 '2018-01-04 04:00:00',
 '2018-01-04 05:00:00',
 '2018-01-04 06:00:00',
 '2018-01-04 07:00:00',
 '2018-01-04 08:00:00',
 '2018-01-04 09:00:00',
 '2018-01-04 10:00:00',
 '2018-01-04 11:00:00',
 '2018-01-04 12:00:00',
 '2018-01-04 13:00:00',
 '2018-01-04 14:00:00',
 '2018-01-04 15:00:00',
 '2018-01-04 16:00:00',
 '2018-01-04 17:00:00',
 '2018-01-04 18:00:00',
 '2018-01-04 19:00:00',
 '2018-01-04 20:00:00',
 '2018-01-04 21:00:00',
 '2018-01-04 22:00:00',
 '2018-01-04 23:00:00',
 '2018-01-05 00:00:00',
 '2018-01-05 01:00:00',
 '2018-01-05 02:00:00',
 '2018-01-05 03:00:00',
 '2018-01-05 04:00:00',
 '2018-01-05 05:00:00',
 '2018-01-05 06:00:00',
 '2018-01-05 07:00:00',
 '2018-01-05 08:00:00',
 '2018-01-05 09:00:00',
 '2018-01-05 10:00:00',
 '2018-01-05 11:00:00',
 '2018-01-05 12:00:00',
 '2018-01-05 13:00:00',
 '2018-01-05 14:00:00',
 '2018-01-05 15:00:00',
 '2018-01-05 16:00:00',
 '2018-01-05 17:00:00',
 '2018-01-05 18:00:00',
 '2018-01-05 19:00:00',
 '2018-01-05 20:00:00',
 '2018-01-05 21:00:00',
 '2018-01-05 22:00:00',
 '2018-01-05 23:00:00',
 '2018-01-06 00:00:00',
 '2018-01-06 01:00:00',
 '2018-01-06 02:00:00',
 '2018-01-06 03:00:00',
 '2018-01-06 04:00:00',
 '2018-01-06 05:00:00',
 '2018-01-06 06:00:00',
 '2018-01-06 07:00:00',
 '2018-01-06 08:00:00',
 '2018-01-06 09:00:00',
 '2018-01-06 10:00:00',
 '2018-01-06 11:00:00',
 '2018-01-06 12:00:00',
 '2018-01-06 13:00:00',
 '2018-01-06 14:00:00',
 '2018-01-06 15:00:00',
 '2018-01-06 16:00:00',
 '2018-01-06 17:00:00',
 '2018-01-06 18:00:00',
 '2018-01-06 19:00:00',
 '2018-01-06 20:00:00',
 '2018-01-06 21:00:00',
 '2018-01-06 22:00:00',
 '2018-01-06 23:00:00',
 '2018-01-07 00:00:00',
 '2018-01-07 01:00:00',
 '2018-01-07 02:00:00',
 '2018-01-07 03:00:00',
 '2018-01-07 04:00:00',
 '2018-01-07 05:00:00',
 '2018-01-07 06:00:00',
 '2018-01-07 07:00:00',
 '2018-01-07 08:00:00',
 '2018-01-07 09:00:00',
 '2018-01-07 10:00:00',
 '2018-01-07 11:00:00',
 '2018-01-07 12:00:00',
 '2018-01-07 13:00:00',
 '2018-01-07 14:00:00',
 '2018-01-07 15:00:00',
 '2018-01-07 16:00:00',
 '2018-01-07 17:00:00',
 '2018-01-07 18:00:00',
 '2018-01-07 19:00:00',
 '2018-01-07 20:00:00',
 '2018-01-07 21:00:00',
 '2018-01-07 22:00:00',
 '2018-01-07 23:00:00',
 '2018-01-08 00:00:00']

In [17]:
type(string_date_rng)

list

### Convert the strings to timestamps

In [13]:
timestamp_date_rng = pd.to_datetime(string_date_rng, infer_datetime_format=True)
timestamp_date_rng

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq=None)

###  Convert a unique string format

In [18]:
string_date_rng_2 = ['01-June-01-2019', '13-June-02-2019', '23-June-03-2019']

In [19]:
timestamp_date_rng_2 = [datetime.strptime(x,'%H-%B-%d-%Y') for x in string_date_rng_2]
timestamp_date_rng_2

[datetime.datetime(2019, 6, 1, 1, 0),
 datetime.datetime(2019, 6, 2, 13, 0),
 datetime.datetime(2019, 6, 3, 23, 0)]

In [20]:
type(timestamp_date_rng_2)

list

In [21]:
df2 = pd.DataFrame(timestamp_date_rng_2, columns=['date'])
df2

                 date
0 2019-06-01 01:00:00
1 2019-06-02 13:00:00
2 2019-06-03 23:00:00