# Nov 30, 2019 Python Set Operation
* Name: Jikhan Jeong
* Ref: https://dojang.io/mod/page/view.php?id=2314 (ch 26)
--------------------------------------
* 0. Basic
* 1. Making set by set: set(iteratble objects)
* 2. Set Operation
* 3. Subset 
* 4. Set Manipulation
* 5. Set allocation and .copy()
* 6. Set with iteration
* 7. Representation
---------------------------------------

# 0. Basic

In [6]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

In [7]:
fruits

{'cherry', 'grape', 'orange', 'pineapple', 'strawberry'}

### Overlapp is not allowed in an element level in the set

In [8]:
fruits = {'orange', 'orange', 'cherry'}
fruits

{'cherry', 'orange'}

### Not work like dictionary
* Cannot call by set[i]

In [11]:
fruits = {'strawberry', 'grape', 'orange', 'pineapple', 'cherry'}

In [12]:
fruits[0]

TypeError: 'set' object is not subscriptable

In [13]:
'orange' in fruits

True

In [14]:
'orange' not in fruits

False

# 1. Making set by set: set(iteratble objects)

In [17]:
a = set('jikhan')
a

{'a', 'h', 'i', 'j', 'k', 'n'}

In [19]:
b = set(range(5))
b

{0, 1, 2, 3, 4}

In [20]:
c = set()
type(c)

set

In [21]:
d = {}
type(d)

dict

### Put a set into another set : impossible

In [23]:
a = {{1,2}, {3,4}}

TypeError: unhashable type: 'set'

### Frozenset(iterable object) cannot be changed

In [29]:
a = frozenset(range(10))

In [30]:
a

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})

In [32]:
a  |=10

TypeError: unsupported operand type(s) for |=: 'frozenset' and 'int'

In [28]:
a

10

# 2. Set Operation
* https://dojang.io/mod/page/view.php?id=2315

### Union | or set.union(set1, set2)

In [34]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [35]:
a|b

{1, 2, 3, 4, 5, 6}

In [36]:
set.union(a,b)

{1, 2, 3, 4, 5, 6}

### Intersection by $ or set.intersection

In [38]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [39]:
a&b

{3, 4}

In [40]:
set.intersection(a,b)

{3, 4}

### set difference set1 - set2 = set.dfference

In [41]:
a = {1, 2, 3, 4}
b = {3, 4, 5, 6}

In [42]:
a-b

{1, 2}

In [43]:
set.difference(a,b)

{1, 2}

### symmetric differece : ^ or set.symmetric_difference

In [44]:
a ^ b

{1, 2, 5, 6}

In [45]:
set.symmetric_difference(a,b)

{1, 2, 5, 6}

### Allocation with = similar with += or -= inplace methods after operation

In [46]:
 a = {1, 2, 3, 4}

In [47]:
a |={5}
a

{1, 2, 3, 4, 5}

In [49]:
a.update({6})
a

{1, 2, 3, 4, 5, 6}

In [50]:
a = {1, 2, 3, 4}
a &= {0, 1, 2, 3, 4}
a

{1, 2, 3, 4}

In [51]:
a
a.intersection_update({0, 1, 2, 3, 4})
a

{1, 2, 3, 4}

In [53]:
a = {1, 2, 3, 4}
a -= {3}
a

{1, 2, 4}

In [54]:
a = {1, 2, 3, 4}
a.difference_update({3})
a

{1, 2, 4}

In [55]:
a = {1, 2, 3, 4}
a ^= {3, 4, 5, 6}
a

{1, 2, 5, 6}

In [56]:
a = {1, 2, 3, 4}
a.symmetric_difference_update({3, 4, 5, 6})
a

{1, 2, 5, 6}

# 3. Subset

In [58]:
a = {1, 2, 3, 4}
a <= {1, 2, 3, 4}

True

In [59]:
a.issubset({1, 2, 3, 4, 5})

True

In [60]:
a = {1, 2, 3, 4}
a < {1, 2, 3, 4, 5}

True

In [61]:
a = {1, 2, 3, 4}
b = {1, 2, 3, 4}
a == b

True

### set1 != set2 are different

In [62]:
a = {1, 2, 3, 4}
b = {1, 2, 3, 2}
a != b

True

### disjoint set?

In [63]:
a = {1, 2, 3, 4}
a.isdisjoint({5, 6, 7, 8})

True

# 4. Set Manipulation
* https://dojang.io/mod/page/view.php?id=2316

### add

In [64]:
a = {1, 2, 3, 4}
a.add(5)
a

{1, 2, 3, 4, 5}

### remove

In [65]:
a = {1, 2, 3, 4}
a.remove(3)
a

{1, 2, 4}

In [66]:
a.discard(2)
a

{1, 4}

In [67]:
a.discard(2)
a

{1, 4}

In [68]:
a = {1, 2, 3, 4}
a.pop()

1

In [69]:
a

{2, 3, 4}

# 5. Set allocation and .copy()
* when we want to different set b from a, using copy()
*https://dojang.io/mod/page/view.php?id=2317

In [77]:
a = {1, 2, 3, 4}
b = a

In [78]:
b.add(7)

In [79]:
a

{1, 2, 3, 4, 7}

In [80]:
a == b

True

In [81]:
a = {1, 2, 3, 4}
b = a.copy()
a.add(7)
print('a',a)
print('b',b)

a {1, 2, 3, 4, 7}
b {1, 2, 3, 4}

# 6. Set with iteration
* https://dojang.io/mod/page/view.php?id=2318

In [83]:
a = {1, 2, 3, 4}
for i in a:
    print(i)

1
2
3
4

In [84]:
for i in {1, 2, 3, 4}:
    print(i)

1
2
3
4

# 7. Representation
* https://dojang.io/mod/page/view.php?id=2319

In [85]:
a =  {i for i in 'jikhan'}
a

{'a', 'h', 'i', 'j', 'k', 'n'}

In [87]:
a = {i for i in 'jikhan is handsome guy in Pullman' if i not in 'handsome'} # without handsome charatehrs
a

{' ', 'P', 'g', 'i', 'j', 'k', 'l', 'u', 'y'}