## Nov 16, 2019 Python Tuple and List : Map, Enumerate, Copy
* Name: Jikhan Jeong
* Ref : Python Coding Dojang (= https://dojang.io/course/view.php?id=7) Ch 22.
* Modifiedy by me

In [1]:
a = [1,2,3]

In [2]:
a.append(4)

In [3]:
a.append([5,6])

In [4]:
a

[1, 2, 3, 4, [5, 6]]

In [5]:
a.extend([7,8])

In [6]:
a

[1, 2, 3, 4, [5, 6], 7, 8]

In [9]:
a.insert(2,['Jikhan is handsome'])

In [10]:
a

[1, 2, ['Jikhan is handsome'], 3, 4, [5, 6], 7, 8, ['Jikhan is handsome']]

* Remove last one in list : a.pop()

In [11]:
a.pop()

['Jikhan is handsome']

In [12]:
a

[1, 2, ['Jikhan is handsome'], 3, 4, [5, 6], 7, 8]

In [13]:
a.pop(3)

3

In [14]:
a

[1, 2, ['Jikhan is handsome'], 4, [5, 6], 7, 8]

In [15]:
a.pop(2)

['Jikhan is handsome']

In [16]:
a

[1, 2, 4, [5, 6], 7, 8]

In [17]:
a.insert(2,3)

In [18]:
a

[1, 2, 3, 4, [5, 6], 7, 8]

In [19]:
a.pop(4)

[5, 6]

In [21]:
a[4:4] = [5,6]

In [22]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

* **remove** finding specific value and remove

In [23]:
a.remove(8)

In [24]:
a

[1, 2, 3, 4, 5, 6, 7]

* **index(value)** : finding a index of specific value

In [25]:
a.index(3)

2

In [26]:
a.insert(2,4)

In [27]:
a

[1, 2, 4, 3, 4, 5, 6, 7]

In [28]:
a.count(4)

2

* **reverse** : change order in reverse

In [29]:
a

[1, 2, 4, 3, 4, 5, 6, 7]

In [33]:
a.reverse()
a

[7, 6, 5, 4, 3, 4, 2, 1]

* **sort** sort(reverse=True)

In [34]:
a.sort()

In [35]:
a

[1, 2, 3, 4, 4, 5, 6, 7]

In [85]:
a.clear()

In [86]:
a

[]

In [87]:
for x in range(8):
    a.append(x)

In [88]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

* slice

In [89]:
a[len(a):] = [8]

In [90]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [91]:
a[len(a):] = [9,10]

In [92]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* allocation a=b

In [93]:
b = a

In [94]:
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
b[2] ='overwatch'

In [96]:
b

[0, 1, 'overwatch', 3, 4, 5, 6, 7, 8, 9, 10]

In [97]:
a

[0, 1, 'overwatch', 3, 4, 5, 6, 7, 8, 9, 10]

In [98]:
a == b

True

* **copy** a=b but not linked

In [99]:
a.clear()
a

[]

In [100]:
for x in range(8):
    a.append(x)

In [101]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

In [102]:
b = a.copy()

In [103]:
b

[0, 1, 2, 3, 4, 5, 6, 7]

In [104]:
b[2] = 'copy method'

In [105]:
b

[0, 1, 'copy method', 3, 4, 5, 6, 7]

In [106]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

In [107]:
a == b

False

# iteration by **for**

In [108]:
a =[]
for x in range(8):
    a.append(x)
    print(a)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]

In [109]:
a =[]
for x in range(8):
    a.append(x)
a

[0, 1, 2, 3, 4, 5, 6, 7]

* print index and value by **enumerate**

In [110]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

In [117]:
for index, value in enumerate(a):
    print(index, value**2 )

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49

In [118]:
for index, value in enumerate(a):
    print(index+1, value)

1 0
2 1
3 2
4 3
5 4
6 5
7 6
8 7

In [119]:
for index, value in enumerate(a, start = 1000):
    print(index+1, value)

1001 0
1002 1
1003 2
1004 3
1005 4
1006 5
1007 6
1008 7

In [120]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

In [121]:
for i in range(len(a)):
    print(a[i])

0
1
2
3
4
5
6
7

## While

In [122]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

In [125]:
i = 0
while i<len(a):
    print(a[i])
    i+=1

0
1
2
3
4
5
6
7

# Min, Max, Sum

In [126]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

* find a min

In [137]:
s = a[0]

In [138]:
for i in a:
    if i < s:
        s = i 
s

0

In [139]:
min(a)

0

* find a max

In [140]:
m = a[0]

In [141]:
for i in a:
    if i > m:
        m = i
m

7

In [142]:
max(a)

7

* sum

In [143]:
a

[0, 1, 2, 3, 4, 5, 6, 7]

In [145]:
s = 0
for i in a:
    s +=i 
s

28

In [146]:
sum(a)

28

## Nov 16, 2019 p. 300

In [2]:
a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
b = list(i for i in range(10))
b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
a = [i for i in range(10) if i%2 ==0]
a

[0, 2, 4, 6, 8]

In [13]:
import numpy as np
a = [i*j for j in range(2,10)
         for i in range(1,10)]
a = np.array(a)
a

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18,  3,  6,  9, 12, 15, 18, 21, 24,
       27,  4,  8, 12, 16, 20, 24, 28, 32, 36,  5, 10, 15, 20, 25, 30, 35,
       40, 45,  6, 12, 18, 24, 30, 36, 42, 48, 54,  7, 14, 21, 28, 35, 42,
       49, 56, 63,  8, 16, 24, 32, 40, 48, 56, 64, 72,  9, 18, 27, 36, 45,
       54, 63, 72, 81])

# Map for list and tuple
* list(map(function, list))
* tuple(map(function, tuple))

* Using a function

In [14]:
a =[0.1, 1.1, 2.1, 3.1]

In [15]:
for i in range(len(a)):
    a[i] = int(a[i])
a

[0, 1, 2, 3]

* Using a map

In [18]:
b =[0.1, 1.1, 2.1, 3.1]
b

[0.1, 1.1, 2.1, 3.1]

In [20]:
b = list(map(int,b))
b

[0, 1, 2, 3]

In [21]:
a = list(map(str, range(10)))
a

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

# Input().split() and Map
* may objective is **iterator** $\rightarrow$ saving values into several variables (**unpacking**) is possilbe

In [24]:
# input window open and write a input 10, 20  = string value not int (including spliting)
a = input().split()

10, 20, Jikhan is hansome

In [25]:
a

['10,', '20,', 'Jikhan', 'is', 'hansome']

In [30]:
b = input().split()

1 2 3 4 5

In [31]:
b # string valu e

['1', '2', '3', '4', '5']

In [32]:
# map create map object from the input = 1 2 3 4 5 
# to see the result, list function is required. 
b = map(int, input().split())

1 2 3 4 5

In [33]:
b

In [34]:
list(b)

[1, 2, 3, 4, 5]

* unpacking for map iterators

In [35]:
x = input().split()

1 2 3

In [36]:
m = map(int, x)

In [37]:
type(m)

map

In [38]:
a, b, c = m

In [39]:
type(a)

int

In [40]:
print('a: ', a)
print('b: ', b)
print('c: ', c)

a:  1
b:  2
c:  3

## Tuple ()
* $\bigstar$ tuple cannot change the conents in the tuple like list can do = tuple content is immutable
* append cannot be used

In [52]:
a =(1,2,3, 2)
a

(1, 2, 3, 2)

In [53]:
# the index of value : a.index(value) = index
a.index(2)

1

In [54]:
a.count(2)

2

In [57]:
for i in a:
    print(i, end=' ')

1 2 3 2

In [58]:
a = tuple(i for i in range(10) if i>2)

In [59]:
a

(3, 4, 5, 6, 7, 8, 9)

In [60]:
type(a)

tuple

* saving as an generator

In [63]:
(i for i in range(10) if i>2)

* map with tuple

In [65]:
a =(0.1, 1.1, 2.1, 3.1)

In [66]:
a = tuple(map(int,a))
a

(0, 1, 2, 3)

In [67]:
min(a)

0

In [68]:
max(a)

3