# Nov 25, 2019 Split tuple in list with Zip

In [43]:
import pandas as pd
import numpy as np

In [44]:
inside = [2015,[('일',25),('회사',30),('직장',55)]]

In [45]:
df =[]
for x in range(3):
    df.append(inside)
data = pd.DataFrame(df,columns=['year','raw'])

In [46]:
data

   year                            raw
0  2015  [(일, 25), (회사, 30), (직장, 55)]
1  2015  [(일, 25), (회사, 30), (직장, 55)]
2  2015  [(일, 25), (회사, 30), (직장, 55)]

# Empty Colum Making

In [36]:
data['일']=''

In [37]:
data['회사']=''

In [39]:
data['직장']=''

# Iteration Using Zip for spliting tuple in List

In [40]:
e = []
for i in range(len(data)):
     _, value = zip(*data.loc[i]['raw'])
     data['일'][i]  =value[0]
     data['회사'][i]=value[1]
     data['직장'][i]=value[2]

C:\Users\jikhan.jeong\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\jikhan.jeong\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\jikhan.jeong\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [41]:
data

   year                            raw   일  회사  직장
0  2015  [(일, 25), (회사, 30), (직장, 55)]  25  30  55
1  2015  [(일, 25), (회사, 30), (직장, 55)]  25  30  55
2  2015  [(일, 25), (회사, 30), (직장, 55)]  25  30  55